@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
}


main {
    margin-top: 50px;
    padding: 16px;
    bottom: 20px;
    /* display: grid; */
}

footer {
    position: fixed;
    width: 100%;
    padding: 25px 25px;
    bottom: 0;
    color: black;
    background-color: rgb(0, 174, 0);
    left: 0;
}

img {
    height: 200px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    /* margin-bottom: 10px; */
    /* padding: 25px 25px; */
    margin: auto;
    background-color: rgb(255, 94, 0);
    border-bottom: solid black 1px;
    left: 0;
}

nav {


    padding: 16px;
    color: white;

}

a:hover {
    background-color: green;
    color: white;
}

h1 {
    color: darkgreen;
}

a {
    text-decoration: none;
    color: inherit;
}

.foods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.foodname {
    color: green;
}

th {
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: #e7e7e7;
}
